<section class="profileSection">
  <h2 id="name" >{{profile.name}}</h2>
  <img src="{{profile.image_url}}" alt="profile picture">
  <p>Species: {{profile.species}}</p>
  <p>Has a Central Nervous System: {{profile.cns}}</p>
  <p>Number of legs: {{profile.legs}}</p>
  <p>Interests: {{profile.interests}}</p>
</section>
